.wide-card {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    background-color: var(--bg-card);
    border: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
    
    .info {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.688rem;
        margin: 2rem 3rem;
        gap: 3rem;

        text-align: left;
        
            img {
                max-width: 200px;
                Width: 100%;
            }
    }

    .button-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1.688rem;
        margin-left: 3rem;
    }
}

@media (Width <= 768px) {
    .wide-card {
    align-items: center;

    .info {
        flex-direction: column-reverse;
        
    }
    }
}